.categoryIcon{
	padding-top:3px;
	padding-left:3px;
}
.priceRange{
	text-align:right;
	font-size: 1.4em;
	padding-right:0px;
}
.priceBox{
	position: absolute;
	right:32px;
	top: 34%;
}
.ui-li-heading{
	white-space: normal!important;
	margin: 0 0 .4em 0 !important;
}