




.categoryIcon{
	padding-top:3px;
	padding-left:3px;
}

.priceRange{
	text-align:right;
	font-size: 1.6em;
	padding-right:5px;
}
.priceBox{
	float:right;
	width:60px;
	position: absolute;
	right:20px;
	top: 34%;
}

/*
.alignRight{
	text-align:right;
}


.healthCode{
	font-size:3.0em;
}
.violations{
 	font-size:1.5em;
}

.healthCode-a{
 	color:blue;
}
.healthCode-b{
 	color:green;
}
.healthCode-c{
 	color:orange;
}

h3{
	padding:0px;
}
 	
.venueName{
	font-size:1.5em;
	padding: 0px 0px 0px 0px;
}

*/
 	